<!doctype html>
<html data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ config.extra.short_title }} | {{ page.title }}{% else %}{{ config.title }}{% endif %}</title>

    {# Bootstrap css #}
    <link href="/styles.css" rel="stylesheet">
    
    {# Bootstrap javascript #}
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <header>
      {# Navbar #}
      <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">San Diego Nerf Club</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          {# Collapsible navbar section #}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {# Fill in all the nav links specified in config.toml #}
              {% for nav_item in config.extra.header_links %}           
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{{ nav_item.url }}">{{ nav_item.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <a class="btn btn-primary" href="/join">Join</a>
        </div>
      </nav>
    </header>

    {# Only display the hero section on the front page #}
    {% if current_path == "/" %}
      <section class="hero-section" style="background-image: url('/groupphoto.jpg');">
        <!-- <div class="d-flex flex-row justify-content-center align-items-center">
            <h1>San Diego Nerf Club</h1>
        </div> -->
      </section>
    {% endif %}

    <div id="content" class="p-3">
      {% if section %}
        {{ section.content | safe }}
      {% elif page %}
        {{ page.content | safe }}
      {% endif %}
    </div>
  </body>
</html>

