<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{{ config.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Bootstrap css #}
    <link href="/styles.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <script src="/bootstrap/js/bootstrap.js"></script>

    <!-- <link rel="stylesheet" href="/style.css"> -->
  </head>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">SDNC</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/events">Events</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/#other-clubs">Other Clubs</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>

        <a class="btn btn-primary" href="/join">Join Discord</a>
      </div>
    </div>
  </nav>

  <body>
    {# Bootstrap javascript #}
    <script src="/bootstrap/js/bootstrap.js"></script>

    {# Dropdown javascript #}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>

    {% if section %}
      {{ section.content | safe }}
    {% elif page %}
      {{ page.content | safe }}
    {% endif %}
  </body>
</html>

