<script src="/jquery.js"></script>
<script>
    function loadEventList() {
        // Show the loading spinner
        $( "div.loading" ).show();

        // Fetch the event list
        $.ajax({
            url: "/api/get_events",
            success: function( result ) {
                // Replace the "event list" element with the result of the query
                $( "div.loading" ).hide();
                $( "div.event-list" ).replaceWith( result );
                console.log("AJAX request completed");
            }
        });
    }

    // Load the event list after the page loads
    // $( document ).ready(function() {
        loadEventList();
    // });
</script>

<button class = "btn btn-outline-light mb-2" onclick="loadEventList()">Refresh Event List</button>

<div class="loading mb-2">
    <p>Loading events...</p>

    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="event-list">
</div>
